<!-- pagina-inicio.component.html -->

    <h1>Bienvenidos</h1>


<section class="informacion">
    <div class="imagen-derecha">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/parqueadero-24-horas-design-template-afadc45d634a1bbf33f971360cadb017_screen.jpg?ts=1664726717" alt="Imagen a la derecha">
    </div>
    <div class="texto-izquierda">
        <h2>Parqueadero Publico</h2>
        <p>
            ¿Necesitas un lugar seguro para estacionar tu vehículo? ¡Tenemos la solución perfecta para ti! Nuestro parqueadero cuenta con vigilancia las 24 horas para garantizar la seguridad de tu automóvil.
        </p>
        <p>
            Además, ofrecemos tarifas competitivas y descuentos especiales para clientes frecuentes. Ya sea que necesites estacionar por unas horas o por más tiempo, estamos aquí para atenderte.
        </p>
        <p>
            No pierdas tiempo buscando estacionamiento en la calle, ven a nuestro parqueadero y disfruta de la tranquilidad de saber que tu vehículo está en buenas manos. ¡Te esperamos!
        </p>
    </div>
</section>
