<!-- cabecera.component.html -->
<header>
  <div class="logo-container">
    <img src="https://www.ups.edu.ec/documents/20121/77326/Isotipo+Original.png/48fb2ada-b4e7-09df-b45a-884cda62cc9b?version=1.0&t=1620746533255&imagePreview=1" alt="Imagen a la izquierda">
  </div>
  <!-- Menú de navegación -->
  <nav class="menu-container">
    <ul>
      <li><a routerLink="home" class="menu-link">Inicio</a></li>
      <li><a routerLink="/registarse" class="menu-link">Registrarse</a></li>
      <li><a routerLink="/registrarVehiculo" class="menu-link">Registrar Vehiculo</a></li>
      <li><a href="#" class="menu-link">Ticket</a></li>
      <li><a href="#" class="menu-link">Facturas</a></li>
      <li><a href="#" class="menu-link">Contacto</a></li>
      <!-- Agrega más opciones de menú según tus necesidades -->
    </ul>
  </nav>
</header>
